# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AzureTools.iml
# Datasource local storage ignored files
/../../../../../../:\Development\AzureTools\.idea\.idea.AzureTools\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
